body {
	background-color: black;
	margin: 0;
	padding: 0;
}

.cookies-eu-banner {
	background: #444;
	color: #fff;
	padding: 6px;
	font-size: 13px;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 10;
}

.hidden {
	display: none;
}

	.cookies-eu-banner button {
		text-decoration: none;
		background: #222;
		color: #fff;
		border: 1px solid #000;
		cursor: pointer;
		padding: 4px 7px;
		margin: 2px 0;
		font-size: 13px;
		font-weight: 700;
		transition: background 0.07s, color 0.07s, border-color 0.07s;
	}

		.cookies-eu-banner button:hover {
			background: #fff;
			color: #222;
		}

.row {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
	margin: 0 -16px;
}

.col-25 {
	-ms-flex: 25%; /* IE10 */
	flex: 25%;
}

.col-50 {
	-ms-flex: 50%; /* IE10 */
	flex: 50%;
}

.col-75 {
	-ms-flex: 75%; /* IE10 */
	flex: 75%;
}

.col-25,
.col-50,
.col-75 {
	padding: 0 16px;
}

.container {
	background-color: #f2f2f2;
	padding: 5px 20px 15px 20px;
	border: 1px solid lightgrey;
	border-radius: 3px;
}

input[type=text] {
	width: 100%;
	margin-bottom: 20px;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

label {
	margin-bottom: 10px;
	display: block;
}

.icon-container {
	margin-bottom: 20px;
	padding: 7px 0;
	font-size: 24px;
}

.btn {
	background-color: #04AA6D;
	color: white;
	padding: 12px;
	margin: 10px 0;
	border: none;
	width: 100%;
	border-radius: 3px;
	cursor: pointer;
	font-size: 17px;
}

	.btn:hover {
		background-color: #45a049;
	}

span.price {
	float: right;
	color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
	.row {
		flex-direction: column-reverse;
	}

	.col-25 {
		margin-bottom: 20px;
	}
}

.escape_reality {
	text-align: center;
	margin: 0 auto;
	justify-content: center;
}

.title {
	background-image: url("images/mp4.gif");
	 background-repeat: no-repeat;
	 background-position: center;
	 padding-right: 0;
	 padding-left: 0;
	 padding-bottom: 0;
	 padding-top: 0;
	 line-height: 600px;
	 height: 100vh;
	 background-attachment: fixed;
	 background-size: 100vw;
	 text-align: center;
	 text-transform: uppercase;
	 font-size: 72PX;
	 color: purple;
	 margin: 0;
	 width: clamp(200px, 100%, 7680px);
}

.sex_dungeon {
	background-image: url("images/cave.gif");
	 background-repeat: no-repeat;
	 background-position: center;
	 padding-right: 0;
	 padding-left: 0;
	 padding-bottom: 0;
	 padding-top: 0;
	 line-height: 600px;
	 height: 100vh;
	 background-attachment: fixed;
	 background-size: 100vw;
	 text-align: center;
	 text-transform: uppercase;
	 font-size: 72PX;
	 color: purple;
	 margin: 0;
	 width: clamp(200px, 100%, 7680px);
}

h2 {
	background-color: #7FFFD4;
	color: #000000;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
}

ul {
	list-style-type: none;
	margin:0;
	padding: 0;
	text-decoration: none;
	width: clamp(200px, 100%, 7680px);
	height: 0;
	top: 0px;
	position: relative;
	background-color: black;
}

li {
  display: inline;
  text-decoration: none;
  line-height: 100px;
  margin: 0;
  top: 0px;
  background-color: black;
}

li a {
  display: inline;
  color: purple;
  text-align: center;
  padding: 22px 50px;
  text-decoration: none;
  margin:0;
  top: 0px;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4B0082;
}

h3 {
	color: purple;
	text-align: center;
}

.grid-container-projects {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #000000;
  padding: 10px;

}

.projectpic {
  background-color: #000000;
  border: 1px solid #2F4F4F;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

p {
	color: purple;
}

.pic {
	grid-column: 1 / span 1;
	grid-row: 1;
	margin:0;
	padding:0;
	align-items: center;
}

.grid_aboutme_img {
	display: grid;
	grid-column: 1;
	grid-template-columns: 3fr 6fr;
	padding-right: 0px;
	padding-left: 50px;
}

.grid_projects {
	border: 1px solid purple;
	grid-row: 2;
	border: 2px solid purple;
	grid-column: 1 / span 3;
	grid-gap: 50px;
	grid-template-rows: 525px 500px;
	display: grid;
	padding-left: 20px;
	padding-right: 20px;
	border: 2px solid purple;
}

.Ismael {
	border: 2px solid purple;
}

h3 {
	font-size: 32px;
}

.project_img {
	display: grid;
	grid-template-rows: 300px;
	grid-template-columns: 3fr 3fr 3fr;
	grid-gap: 20px;
}

.imageSlides {
  display: none
}
 
img {
  margin: auto;
  display: block;
  width: 100%;
}
 
/* Our main images-slideshow container */
.images-slideshow {
  max-width: 912px;
  position: relative;
  margin: auto;
}
 
/*Style for ">" next and "<" previous buttons */
.slider-btn{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 8px 16px;
  margin-top: -22px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
 
/* setting the position of the previous button towards left */
.previous {
  left: 2%;
}
 /* setting the position of the next button towards right */
.next {
  right: 2%;
}
 
/* On hover, adding a background color */
.previous:hover,
.next:hover {
  color: rgb(255, 253, 253);
  background-color: rgba(0, 0, 0, 0.8);
}

.aboutmetext {
	padding-left: 50px;
	display: grid;
	margin-right: 10px;
	font-size: 24px;
}

hr {
	color: purple;
	margin-bottom: 15px;
	margin-top: 0px;
}

.projectimg {
	border: 2px dashed purple;
	border-radius: 20px;
	padding: 10px;
}

.contact_form {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 2fr;
	grid-gap: 20px;
	color: white;
	padding-left: 50px;
}

.nameform {
	display: grid;
	grid-column: 1;
	grid-row: 1;
}

.emailform {
	display: grid;
	grid-template-rows: auto;
	grid-template columns: 1fr;
}

.msgform {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto 100px;
}

.aboutme_img {
	border: 2px solid purple;
	border-radius: 20px;
	padding: 10px;
}
